@font-face {
	font-family: 'LINESeedKR-Bd';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Do Hyeon', sans-serif;
	font-family: 'Gothic A1', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
}

footer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Do Hyeon', sans-serif;
	font-family: 'Gothic A1', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: white;
	border-top: 1px lightgray solid;
	margin-top: 5%;
}


/* 회원가입 폼 상단 텍스트  */
#infoImgText {
	width: 100%;
	height: 100%;
	position: relative;
}

#info {
	width: 100%;
	height: 350px;
	text-align: center;
	
}

#info1 {
	margin-top: 10%;
	font-family: 'LINESeedKR-Bd';
	font-size: 55px;
}

#info2 {
	margin-top: 10%;
	font-size: 15px;
}

#infoImgText img {
	margin-left: 55%;
	width: 300px;
	height: 100%;
	position: absolute;
}


.infoCheck {
	text-align: center;
	margin-top: 5%;
	width: 100%;
	height: 50px;
}

.infoCheck input {
	border: 1px solid rgb(210, 210, 210);
	display: inline-block;
	width: 10%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

